html, body, h1, h2, h3, h4, p {
    font-family: "Open Sans", sans-serif
}

p {
    text-align: center;   
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
   /*  margin: 5px 2px;
    border-radius: 50%;  */
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.textarea {
    width: 100%;
    resize: none;
}